.welcomeSection {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  flex-direction: row; /* Side by side by default */
  height: 95vh; /* Full viewport height */
  padding: 2rem 0;
  text-align: center; /* Center text */
}

.textContainer, .imageContainer {
  flex: 1; /* Equal space for text and image containers */
}

.textContainer {
  margin-right: 2rem; /* Space between text and image */
}

.welcomeText {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
}

.shekharText {
  color: #ff5722; /* Change this color to your preference */
}

.descriptionText {
  font-size: 1.2rem; /* Smaller font size for description */
  color: #666; /* Adjust color as needed */
  margin-top: 0.5rem; /* Space between welcome text and description */
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pngImage {
  width: 100%;
  max-width: 450px;
}

@media only screen and (max-width: 768px) {
  .welcomeSection {
    flex-direction: column; /* Stack vertically on smaller screens */
    text-align: center; /* Center text */
  }

  .textContainer {
    margin-right: 0; /* Remove right margin in column layout */
    margin-bottom: 1rem; /* Reduce space between text and image */
    text-align: center; /* Center text on smaller screens */
    padding-top: 2rem; /* Increase space above text */
  }

  .welcomeText {
    font-size: 2.5rem;
  }

  .descriptionText {
    font-size: 1rem; /* Adjust for smaller screens */
  }

  .pngImage {
    max-width: 300px;
  }
}
